.about-content {
  margin: auto;
  width: 65%;
}

.about-content h2 {
  font-size: 2.5rem;
}

.about-layout-card-left {
  padding: 0;
  flex: 40%;
}

.time-duration {
  color: var(--light);
  font-size: 0.75rem;
  font-weight: 400;
  margin: 0.3rem 0;
}

.about-layout-card-right {
  flex: 60%;
}

.sub-container h1,
.sub-container h2 {
  text-align: center;
  margin: 0 0 3rem 0;
}

.place-img {
  display: block;
  margin: 0 auto;
  width: 200px;
  max-height: auto;
}

.place-img[alt="Ananda College"] {
  width: 150px;
}

@media only screen and (max-width: 768px) {
  .about-content {
    margin: auto;
    width: 80%;
  }
  .place-img {
    margin-bottom: 1rem;
  }

  .about-content h3 {
    font-size: 1.5rem;
  }
}
