.about-content {
  padding: 1.5rem 1rem;
  width: 80%;
}

.about-content h1 {
  font-size: 4rem;
}
.about-content h2 {
  font-size: 2.5rem;
}

.about-layout-card-left {
  padding: 0;
  flex: 40%;
}

.time-duration {
  color: var(--light);
  font-size: 0.75rem;
  font-weight: 400;
}

.about-layout-card-right {
  flex: 60%;
}

.sub-container {
  margin: auto;
  width: 50vw;
}

.sub-container h1,
.sub-container h2 {
  text-align: center;
  margin: 0 0 3rem 0;
}

.place-img {
  display: block;
  margin: 0 auto;
  width: 200px;
  max-height: auto;
}

.place-img[alt="Ananda College"] {
  width: 150px;
}
