.home-layout {
  display: flex;
  align-items: center;
  min-height: 100%;
}

.home-layout h1 {
  font-size: 5rem;
}

.home-layout h3 {
  font-size: 2rem;
}

.home-layout p {
  text-align: justify;
}

.home-layout-card-left {
  padding: 1.5rem 1rem;
  flex: 60%;
}

.home-layout-card-right {
  flex: 40%;
  padding: 0;
}

.home-img {
  display: block;
  margin: 0 auto;
  max-width: 450px;
  /* box-shadow: 0px 0px 30px var(--tertiary); */
}
