.home-layout-card-left {
  padding: 1.5rem 1rem;
  flex: 60%;
}

.intro-txt {
  text-align: left;
}

h1.intro-txt {
  font-size: 4rem;
}

.home-layout-card-right {
  flex: 40%;
  padding: 0;
}

.home-img {
  display: block;
  margin: 0 auto;
  max-width: 450px;
}

.home-page-btns {
  max-width: fit-content;
}

@media only screen and (max-width: 1200px) {
  .home-layout-card-right,
  .home-layout-card-right {
    margin: auto;
    flex: 100% !important;
  }
  .home-layout {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap-reverse;
  }

  .home-img {
    max-width: 350px;
  }

  .home-page-btns {
    margin: auto;
  }
}

@media only screen and (max-width: 768px) {
  .home-layout-card-right,
  .home-layout-card-right {
    margin: auto;
  }
  .home-layout {
    margin: auto;
    display: flex;
    flex-wrap: wrap-reverse;
  }

  .home-img {
    max-width: 70%;
  }

  .home-layout-card-left > h1 {
    font-size: 2.5rem !important;
  }

  .home-layout-card-left > h3 {
    font-size: 1.5rem !important;
  }
}
