header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem auto;
  width: 90vw;
}

.header-title {
  font-size: 2.3rem;
  display: inline-flex;
  text-align: center;
  margin: 0;
  padding: 0 1rem;
}

.main-nav {
  display: inline-flex;
  font-size: 1rem;
}

.main-nav ul {
  padding: 0;
  list-style-type: none;
}

.main-nav ul li {
  margin: 0 1rem;
  padding: 0 1rem;
  display: inline;
}

.main-nav ul li a {
  transition: 200ms ease-in-out;
  color: var(--light);
}

.main-nav ul li a:hover,
.main-nav ul li a.active {
  color: var(--tertiary);
  text-shadow: 0px 5px 15px var(--tertiary);
  transition: 200ms ease-in-out;
}

@media only screen and (max-width: 1200px) {
  header {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media only screen and (max-width: 768px) {
  header {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .main-nav ul,
  .main-nav ul li {
    margin: auto 0;
  }

  .main-nav ul li.nav-link {
    display: none;
  }
}
