.spinner-container {
  position: absolute;
  top: 50vh;
  left: 50vw;
  margin: -15px 0 0 -15px;
  font-size: 1.5rem;
}

.spinner-container > * {
  font-size: 3.5rem;
  animation: spinner 3s linear infinite;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
